/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Project exclude paths
/storage/app/
/storage/framework/
/tmp/db/#innodb_redo/#ib_redo23
/tmp/db/#innodb_redo/#ib_redo24
/tmp/db/#innodb_redo/#ib_redo25
/tmp/db/#innodb_redo/#ib_redo26
/tmp/db/#innodb_redo/#ib_redo27_tmp
/tmp/db/#innodb_redo/#ib_redo28_tmp
/tmp/db/#innodb_redo/#ib_redo29_tmp
/tmp/db/#innodb_redo/#ib_redo30_tmp
/tmp/db/#innodb_redo/#ib_redo31_tmp
/tmp/db/#innodb_redo/#ib_redo32_tmp
/tmp/db/#innodb_redo/#ib_redo33_tmp
/tmp/db/#innodb_redo/#ib_redo34_tmp
/tmp/db/#innodb_redo/#ib_redo35_tmp
/tmp/db/#innodb_redo/#ib_redo36_tmp
/tmp/db/#innodb_redo/#ib_redo37_tmp
/tmp/db/#innodb_redo/#ib_redo38_tmp
/tmp/db/#innodb_redo/#ib_redo39_tmp
/tmp/db/#innodb_redo/#ib_redo40_tmp
/tmp/db/#innodb_redo/#ib_redo41_tmp
/tmp/db/#innodb_redo/#ib_redo42_tmp
/tmp/db/#innodb_redo/#ib_redo43_tmp
/tmp/db/#innodb_redo/#ib_redo44_tmp
/tmp/db/#innodb_redo/#ib_redo45_tmp
/tmp/db/#innodb_redo/#ib_redo46_tmp
/tmp/db/#innodb_redo/#ib_redo47_tmp
/tmp/db/#innodb_redo/#ib_redo48_tmp
/tmp/db/#innodb_redo/#ib_redo49_tmp
/tmp/db/#innodb_redo/#ib_redo50_tmp
/tmp/db/#innodb_redo/#ib_redo51_tmp
/tmp/db/#innodb_redo/#ib_redo52_tmp
/tmp/db/#innodb_redo/#ib_redo53_tmp
/tmp/db/#innodb_redo/#ib_redo54_tmp
/tmp/db/#innodb_temp/temp_1.ibt
/tmp/db/#innodb_temp/temp_2.ibt
/tmp/db/#innodb_temp/temp_3.ibt
/tmp/db/#innodb_temp/temp_4.ibt
/tmp/db/#innodb_temp/temp_5.ibt
/tmp/db/#innodb_temp/temp_6.ibt
/tmp/db/#innodb_temp/temp_7.ibt
/tmp/db/#innodb_temp/temp_8.ibt
/tmp/db/#innodb_temp/temp_9.ibt
/tmp/db/#innodb_temp/temp_10.ibt
/tmp/db/kolizey/customers.ibd
/tmp/db/kolizey/failed_jobs.ibd
/tmp/db/kolizey/migrations.ibd
/tmp/db/kolizey/model_has_permissions.ibd
/tmp/db/kolizey/model_has_roles.ibd
/tmp/db/kolizey/notifications.ibd
/tmp/db/kolizey/password_reset_tokens.ibd
/tmp/db/kolizey/password_resets.ibd
/tmp/db/kolizey/permissions.ibd
/tmp/db/kolizey/personal_access_tokens.ibd
/tmp/db/kolizey/projects.ibd
/tmp/db/kolizey/role_has_permissions.ibd
/tmp/db/kolizey/roles.ibd
/tmp/db/kolizey/services.ibd
/tmp/db/kolizey/users.ibd
/tmp/db/mysql/general_log.CSM
/tmp/db/mysql/general_log.CSV
/tmp/db/mysql/general_log_215.sdi
/tmp/db/mysql/slow_log.CSM
/tmp/db/mysql/slow_log.CSV
/tmp/db/mysql/slow_log_216.sdi
/tmp/db/performance_schema/accounts_147.sdi
/tmp/db/performance_schema/binary_log_trans_191.sdi
/tmp/db/performance_schema/cond_instances_82.sdi
/tmp/db/performance_schema/data_lock_waits_163.sdi
/tmp/db/performance_schema/data_locks_162.sdi
/tmp/db/performance_schema/error_log_83.sdi
/tmp/db/performance_schema/events_errors_su_141.sdi
/tmp/db/performance_schema/events_errors_su_142.sdi
/tmp/db/performance_schema/events_errors_su_143.sdi
/tmp/db/performance_schema/events_errors_su_144.sdi
/tmp/db/performance_schema/events_errors_su_145.sdi
/tmp/db/performance_schema/events_stages_cu_113.sdi
/tmp/db/performance_schema/events_stages_hi_114.sdi
/tmp/db/performance_schema/events_stages_hi_115.sdi
/tmp/db/performance_schema/events_stages_su_116.sdi
/tmp/db/performance_schema/events_stages_su_117.sdi
/tmp/db/performance_schema/events_stages_su_118.sdi
/tmp/db/performance_schema/events_stages_su_119.sdi
/tmp/db/performance_schema/events_stages_su_120.sdi
/tmp/db/performance_schema/events_statement_121.sdi
/tmp/db/performance_schema/events_statement_122.sdi
/tmp/db/performance_schema/events_statement_123.sdi
/tmp/db/performance_schema/events_statement_124.sdi
/tmp/db/performance_schema/events_statement_125.sdi
/tmp/db/performance_schema/events_statement_126.sdi
/tmp/db/performance_schema/events_statement_127.sdi
/tmp/db/performance_schema/events_statement_128.sdi
/tmp/db/performance_schema/events_statement_129.sdi
/tmp/db/performance_schema/events_statement_130.sdi
/tmp/db/performance_schema/events_statement_131.sdi
/tmp/db/performance_schema/events_statement_132.sdi
/tmp/db/performance_schema/events_transacti_133.sdi
/tmp/db/performance_schema/events_transacti_134.sdi
/tmp/db/performance_schema/events_transacti_135.sdi
/tmp/db/performance_schema/events_transacti_136.sdi
/tmp/db/performance_schema/events_transacti_137.sdi
/tmp/db/performance_schema/events_transacti_138.sdi
/tmp/db/performance_schema/events_transacti_139.sdi
/tmp/db/performance_schema/events_transacti_140.sdi
/tmp/db/performance_schema/events_waits_cur_84.sdi
/tmp/db/performance_schema/events_waits_his_85.sdi
/tmp/db/performance_schema/events_waits_his_86.sdi
/tmp/db/performance_schema/events_waits_sum_87.sdi
/tmp/db/performance_schema/events_waits_sum_88.sdi
/tmp/db/performance_schema/events_waits_sum_89.sdi
/tmp/db/performance_schema/events_waits_sum_90.sdi
/tmp/db/performance_schema/events_waits_sum_91.sdi
/tmp/db/performance_schema/events_waits_sum_92.sdi
/tmp/db/performance_schema/file_instances_93.sdi
/tmp/db/performance_schema/file_summary_by__94.sdi
/tmp/db/performance_schema/file_summary_by__95.sdi
/tmp/db/performance_schema/global_status_183.sdi
/tmp/db/performance_schema/global_variables_186.sdi
/tmp/db/performance_schema/host_cache_96.sdi
/tmp/db/performance_schema/hosts_148.sdi
/tmp/db/performance_schema/keyring_componen_193.sdi
/tmp/db/performance_schema/keyring_keys_154.sdi
/tmp/db/performance_schema/log_status_176.sdi
/tmp/db/performance_schema/memory_summary_b_156.sdi
/tmp/db/performance_schema/memory_summary_b_157.sdi
/tmp/db/performance_schema/memory_summary_b_158.sdi
/tmp/db/performance_schema/memory_summary_b_159.sdi
/tmp/db/performance_schema/memory_summary_g_155.sdi
/tmp/db/performance_schema/metadata_locks_161.sdi
/tmp/db/performance_schema/mutex_instances_97.sdi
/tmp/db/performance_schema/objects_summary__98.sdi
/tmp/db/performance_schema/performance_time_99.sdi
/tmp/db/performance_schema/persisted_variab_189.sdi
/tmp/db/performance_schema/prepared_stateme_177.sdi
/tmp/db/performance_schema/processlist_100.sdi
/tmp/db/performance_schema/replication_appl_167.sdi
/tmp/db/performance_schema/replication_appl_168.sdi
/tmp/db/performance_schema/replication_appl_169.sdi
/tmp/db/performance_schema/replication_appl_170.sdi
/tmp/db/performance_schema/replication_appl_172.sdi
/tmp/db/performance_schema/replication_appl_173.sdi
/tmp/db/performance_schema/replication_asyn_174.sdi
/tmp/db/performance_schema/replication_asyn_175.sdi
/tmp/db/performance_schema/replication_conn_164.sdi
/tmp/db/performance_schema/replication_conn_166.sdi
/tmp/db/performance_schema/replication_grou_165.sdi
/tmp/db/performance_schema/replication_grou_171.sdi
/tmp/db/performance_schema/rwlock_instances_101.sdi
/tmp/db/performance_schema/session_account__153.sdi
/tmp/db/performance_schema/session_connect__152.sdi
/tmp/db/performance_schema/session_status_184.sdi
/tmp/db/performance_schema/session_variable_187.sdi
/tmp/db/performance_schema/setup_actors_102.sdi
/tmp/db/performance_schema/setup_consumers_103.sdi
/tmp/db/performance_schema/setup_instrument_104.sdi
/tmp/db/performance_schema/setup_meters_105.sdi
/tmp/db/performance_schema/setup_metrics_106.sdi
/tmp/db/performance_schema/setup_objects_107.sdi
/tmp/db/performance_schema/setup_threads_108.sdi
/tmp/db/performance_schema/socket_instances_149.sdi
/tmp/db/performance_schema/socket_summary_b_150.sdi
/tmp/db/performance_schema/socket_summary_b_151.sdi
/tmp/db/performance_schema/status_by_accoun_179.sdi
/tmp/db/performance_schema/status_by_host_180.sdi
/tmp/db/performance_schema/status_by_thread_181.sdi
/tmp/db/performance_schema/status_by_user_182.sdi
/tmp/db/performance_schema/table_handles_160.sdi
/tmp/db/performance_schema/table_io_waits_s_109.sdi
/tmp/db/performance_schema/table_io_waits_s_110.sdi
/tmp/db/performance_schema/table_lock_waits_111.sdi
/tmp/db/performance_schema/threads_112.sdi
/tmp/db/performance_schema/tls_channel_stat_192.sdi
/tmp/db/performance_schema/user_defined_fun_190.sdi
/tmp/db/performance_schema/user_variables_b_178.sdi
/tmp/db/performance_schema/users_146.sdi
/tmp/db/performance_schema/variables_by_thr_185.sdi
/tmp/db/performance_schema/variables_info_188.sdi
/tmp/db/sys/sys_config.ibd
/tmp/db/#ib_16384_0.dblwr
/tmp/db/#ib_16384_1.dblwr
/tmp/db/auto.cnf
/tmp/db/binlog.000001
/tmp/db/binlog.000002
/tmp/db/binlog.000003
/tmp/db/binlog.000004
/tmp/db/binlog.000005
/tmp/db/binlog.000006
/tmp/db/binlog.000007
/tmp/db/binlog.000008
/tmp/db/binlog.000009
/tmp/db/binlog.000010
/tmp/db/binlog.000011
/tmp/db/binlog.000012
/tmp/db/binlog.000013
/tmp/db/binlog.000014
/tmp/db/binlog.000015
/tmp/db/binlog.000016
/tmp/db/binlog.000017
/tmp/db/binlog.000018
/tmp/db/binlog.000019
/tmp/db/binlog.000020
/tmp/db/binlog.000021
/tmp/db/binlog.000022
/tmp/db/binlog.000023
/tmp/db/binlog.000024
/tmp/db/binlog.000025
/tmp/db/binlog.000026
/tmp/db/binlog.000027
/tmp/db/binlog.000028
/tmp/db/binlog.000029
/tmp/db/binlog.000030
/tmp/db/binlog.000031
/tmp/db/binlog.000032
/tmp/db/binlog.000033
/tmp/db/binlog.000034
/tmp/db/binlog.000035
/tmp/db/binlog.000036
/tmp/db/binlog.000037
/tmp/db/binlog.000038
/tmp/db/binlog.000039
/tmp/db/binlog.000040
/tmp/db/binlog.000041
/tmp/db/binlog.000042
/tmp/db/binlog.000043
/tmp/db/binlog.000044
/tmp/db/binlog.000045
/tmp/db/binlog.000046
/tmp/db/binlog.000047
/tmp/db/binlog.000048
/tmp/db/binlog.000049
/tmp/db/binlog.000050
/tmp/db/binlog.000051
/tmp/db/binlog.000052
/tmp/db/binlog.000053
/tmp/db/binlog.000054
/tmp/db/binlog.000055
/tmp/db/binlog.000056
/tmp/db/binlog.000057
/tmp/db/binlog.000058
/tmp/db/binlog.000059
/tmp/db/binlog.000060
/tmp/db/binlog.000061
/tmp/db/binlog.000062
/tmp/db/binlog.000063
/tmp/db/binlog.000064
/tmp/db/binlog.000065
/tmp/db/binlog.000066
/tmp/db/binlog.000067
/tmp/db/binlog.000068
/tmp/db/binlog.000069
/tmp/db/binlog.000070
/tmp/db/binlog.000071
/tmp/db/binlog.000072
/tmp/db/binlog.000073
/tmp/db/binlog.000074
/tmp/db/binlog.000075
/tmp/db/binlog.000076
/tmp/db/binlog.000077
/tmp/db/binlog.000078
/tmp/db/binlog.000079
/tmp/db/binlog.000080
/tmp/db/binlog.000081
/tmp/db/binlog.000082
/tmp/db/binlog.000083
/tmp/db/binlog.000084
/tmp/db/binlog.000085
/tmp/db/binlog.000086
/tmp/db/binlog.000087
/tmp/db/binlog.000088
/tmp/db/binlog.000089
/tmp/db/binlog.000090
/tmp/db/binlog.000091
/tmp/db/binlog.000092
/tmp/db/binlog.000093
/tmp/db/binlog.000094
/tmp/db/binlog.000095
/tmp/db/binlog.000096
/tmp/db/binlog.000097
/tmp/db/binlog.000098
/tmp/db/binlog.000099
/tmp/db/binlog.000100
/tmp/db/binlog.index
/tmp/db/ca-key.pem
/tmp/db/client-key.pem
/tmp/db/ib_buffer_pool
/tmp/db/ibdata1
/tmp/db/ibtmp1
/tmp/db/mysql.ibd
/tmp/db/private_key.pem
/tmp/db/server-key.pem
/tmp/db/undo_001
/tmp/db/undo_002
