@import "bootstrap/dist/css/bootstrap.css";

.custom-tooltip {
    --bs-tooltip-bg:rgb(0,0,0);
}

.logo {
    margin-left: 1vw;
}

.nav-el {
    font-size:1.5vw;
}

@media screen and (max-width: 1100px) {
    .nav-el{
        font-size:1.85vw;
    }
    .logo {
        margin: auto;
    }
}

/*.custom-theme {*/
/*    background-color: #FFFFFF;*/
/*}*/
/*.nav-link {*/
/*    color: #e3be2a;*/
/*}*/
/*.nav-link:hover {*/
/*    color: #ECD470;*/
/*}*/
