@import "bootstrap/dist/css/bootstrap.css";

.custom-tooltip {
    --bs-tooltip-bg:rgb(0,0,0);
}

.logo {
    margin-left: 1vw;
}

.nav-el {
    font-size:1.5vw;
}

.custom-file-input {
    background-color: #282e36;
}
.custom-file-input::file-selector-button {
    color: rgba(0,0,0,0);
}
@media screen and (max-width: 1100px) {
    .nav-el{
        font-size:1.85vw;
    }
    .logo {
        margin: auto;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .nav-el {
        font-size: calc(16px + (18 - 16) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .nav-icon {
        margin: auto;
        width: calc((18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
        height: calc((18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
}
/*.custom-theme {*/
/*    background-color: #FFFFFF;*/
/*}*/
/*.nav-link {*/
/*    color: #e3be2a;*/
/*}*/
/*.nav-link:hover {*/
/*    color: #ECD470;*/
/*}*/
